<mat-card>
  <mat-card-header>
      <app-scheduling-header [(view)]="view" [(viewDate)]="viewDate"></app-scheduling-header>
  </mat-card-header>

  <mat-card-content>
    <div [ngSwitch]="view">

      <mwl-calendar-month-view 
        *ngSwitchCase="CalendarView.Month" 
        [viewDate]="viewDate" 
        [events]="events"
        [refresh]="refresh" 
        [locale]="'pt'" 
        [activeDayIsOpen]="activeDayIsOpen" 
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" 
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
     
      <mwl-calendar-week-view 
        *ngSwitchCase="CalendarView.Week" 
        [viewDate]="viewDate" 
        [events]="events"
        [refresh]="refresh" 
        [locale]="'pt'" 
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
     

      <ng-template #hourSegmentTemplate let-segment="segment" let-locale="locale">
          <!-- [hourSegmentTemplate]="hourSegmentTemplate" -->
      </ng-template>
      <mwl-calendar-day-view 
        [hourSegments]="4"
        [dayStartHour]="8"
        [dayEndHour]="20"
        (eventClicked)="eventClicked($event)"
        (hourSegmentClicked)="hourSegmentClicked($event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        *ngSwitchCase="CalendarView.Day" 
        [viewDate]="viewDate" 
        [events]="events"
        [refresh]="refresh" 
        [locale]="'pt'"
       
        >
      </mwl-calendar-day-view>
    </div>
  </mat-card-content>
</mat-card>
