<mat-card>
  <mat-card-header>
    <app-scheduling-header [(view)]="view" [(viewDate)]="viewDate"></app-scheduling-header>
  </mat-card-header>

  <mat-card-content>
    <div [ngSwitch]="view">

      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [locale]="'pt'" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>

      <app-scheduling-day-view *ngSwitchCase="CalendarView.Day" [hoursEvents]="hoursEvents"></app-scheduling-day-view>

    </div>
  </mat-card-content>
</mat-card>
