  <h1 mat-dialog-title class="text-center">
    Inicio da consulta {{ hourEvent.date | date: 'dd/MM/yyyy hh:mm'}}
  </h1>

  <mat-dialog-content>
    <mat-form-field>
      <input type="text" placeholder="Selecione um médico" aria-label="Number" matInput
        [matAutocomplete]="doctorsAutocomplete">
      <mat-autocomplete #doctorsAutocomplete="matAutocomplete">
        <mat-option *ngFor="let option of doctors" [value]="option.name">
          {{option.name}} - {{option.crm}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="pull-right" mat-button mat-raised-button color="accent" (click)="addDoctor.emit('')">[ + ]</button>
    
    <mat-form-field>
      <input type="text" placeholder="Selecione uma unidade" aria-label="Number" matInput
        [matAutocomplete]="unitsAutocomplete">
      <mat-autocomplete #unitsAutocomplete="matAutocomplete">
        <mat-option *ngFor="let option of units" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="pull-right" mat-button mat-raised-button color="accent" (click)="addUnit.emit('')">[ + ]</button>
    
    <mat-form-field>
      <input type="text" placeholder="Selecione um médico" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="pull-right" mat-button mat-raised-button color="accent" (click)="addDoctor.emit('')">[ + ]</button>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" (click)="addEvent()">Agendar</button>
    <button mat-button mat-raised-button color="warn" (click)="cancelEvent()">Cancelar</button>
    <button mat-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>
